 .list-product {
    display: flex;       
    flex-wrap: wrap;    
    gap: 20px;          
    padding: 20px;
}

.product-item {
    width: 200px;       
    border: 1px solid rgb(11, 11, 11);
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.product-image img {
    width: 100%;        
    height: auto;
}

.product-info p {
    margin: 5px 0;
    font-weight: bold;
}
